* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background: #C5E4E7;
}

/* ==============
Typography
============== */

h1 {
    color: #3D6666;
}

.total-subcontainer {
    align-self: center;
}

.section-title {
    color: #5E7A7D;
}

.section-error {
    color: #E17457;
}

.section-error,
.tip-num,
.total-num {
    justify-self: end;
}

.input-amount {
    background-image: url(images/icon-dollar.svg);
}

.input-people {
    background-image: url(images/icon-person.svg);
}

.input-amount,
.input-people {
    display: block;
    background-color: #F3F9FA;
    background-repeat: no-repeat;
    background-position: 2% center;
    width: 100%;
    border: none;
    padding-right: 0.25em;
    grid-column: 1 / -1;
}

.input-amount,
.input-people, 
.custom-btn-change {
    text-align: right;
}

.input-amount,
.input-people {
    color: #00474B;
}

.tip-text,
.total-text,
.section-btn {
    color: #fff;
}

.tip-span,
.total-span {
    color: #7F9D9F;
    font-size: 0.8125rem;
}

.input-amount,
.input-people,
.tip-num,
.total-num {
    font-size: 2rem;
}

.tip-num,
.total-num {
    color: #26C2AE;
}

button,
.input-amount,
.input-people,
.total-container,
.custom-btn,
.custom-btn-change {
    border-radius: 5px;
}

/* === buttons === */

button,
.custom-btn,
.custom-btn-change {
    font-family: 'Space Mono', monospace;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.section-num,
.section-btn,
.custom-btn,
.custom-btn-change {
    font-size: 1.5rem;
}

.section-btn {
    background: #00474B;
}

.custom-btn {
    color: #547878;
}

.custom-btn,
.custom-btn-change {
    background: #F3F9FA;
}

.reset-btn {
    background: #26C2AE;
    font-size: 1.25rem;
}

.reset-btn,
.custom-btn-change {
    color: #00474B;
}

.custom-btn:hover,
.reset-btn:hover,
.reset-btn:focus,
.section-btn:hover,
.section-btn:focus {
    background: #9FE8DF;
    color: #00474B;
}

.custom-btn-change:active,
.custom-btn-change:focus,
.input-amount:active,
.input-amount:focus,
.input-people:active,
.input-people:focus {
    border: 2px solid #26C2AE;
    outline: none;
}

/* ==============
Layout
============== */

main,
main section,
.total-subcontainer {
    display: grid;
}

.bill-container,
.people-container {
    grid-template: 20px 48px / repeat(2, auto);
    grid-row-gap: 15px;
}

main {
    background: #fff;
    border-radius: 5px 5px 0 0;
    grid-template: 
        150px 300px 130px auto 60px
        /
        1.2em auto 1.2em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.bill-container {
    margin-top: 1.5em;
}

.total-container {
    background: #00474B;
    grid-template: repeat(2, auto) 50px 20px/ 1.2em auto 1.2em;
}

.tip-container {
    grid-template: 20px repeat(3, 60px) / repeat(2, minmax(151.55px, 300px));
    grid-gap: 15px;
}

.total-subcontainer {
    grid-template-columns: repeat(2, auto);
    margin: 2em 0;
}

main section,
.ten-percent,
.twentyfive-percent,
.custom-btn,
.section-error,
.total-subcontainer,
.reset-btn {
    grid-column: 2;
}

.five-percent {
    grid-column: 1;
}

/* ==============
Media Query
============== */

@media (min-width: 600px) {
    main {
        grid-template: 
        150px 220px 130px auto 60px
        /
        1.2em auto 1.2em;
    }

    .tip-container {
        grid-template: 20px repeat(2, 60px) / repeat(3, minmax(120px, 300px));
        /* align-self: center; */
    }

    .custom-btn,
    .custom-btn-change {
        grid-column: 3;
        grid-row: 3;
    }

    .twentyfive-percent {
        grid-row: 3;
        grid-column: 1;
    }
}

@media (min-width: 811px) {
    .tip-container .section-title {
        align-self: center;
    }

    main {
        margin: auto;
        max-width: 920px;
        height: 481px;
        grid-template: 30px repeat(3, auto) 30px / repeat(2, 50%);
        grid-row-gap: 20px;
    }
    .bill-container,
    .tip-container,
    .people-container {
        grid-column: 1;
    }

    .bill-container {
        grid-row: 2;
        margin-top: 0;
    }

    .tip-container {
        grid-row: 3;
    }

    .people-container {
        grid-row: 4;
    }

    .bill-container,
    .tip-container,
    .people-container,
    .total-container {
        width: 90%;
        justify-self: center;
    }

    .total-container {
        grid-row: 2 / 5;
    }
}